<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="gC852NCGJmxoHhIIhNjJ04le3GODTPGxram_qLc5Auk" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" id="fonts-css" type="text/css" media="all" 
        href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%7COswald%3A400&#038;ver=4.1"/>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/style.css'}}?ver=1.4" id="style-css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{asset 'css/style-inline.css'}}?ver=1.4" id="style-inline-css" />
    <link rel="stylesheet" type="text/css" href="{{asset 'css/pluginstyle.css'}}?ver=1.4" id="plugins-style-css" />
    <link rel="stylesheet" type="text/css" href="{{asset 'css/responsive.css'}}?ver=1.4" id="responsive-style-css" />

    <script type="text/javascript" src="{{asset 'libs/jquery.js'}}?ver=1.11.1"></script>
    <script type="text/javascript" src="{{asset 'libs/jquery-migrate.min.js'}}?ver=1.2.1"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

{{{body}}}

</html>
